<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <div class="container">
        <main aria-role="main">
            {{ .Content }}
        </main>
        <div id="history"></div>
        {{- partial "early-footer.html" . -}}
    </div>
    <script src="/js/history.js"></script>
    {{- partial "footer.html" . -}}
</body>

</html>
