<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <div class="container">
        <main aria-role="main">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{{ ref . "modding" }}">Modding</a></li>
                  <li class="breadcrumb-item"><a href="{{ ref . "formats" }}">Formats</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
                </ol>
            </nav>
            <h2>{{ .Title }} Dateiformat</h2>
            {{ .Content }}
        </main>
        {{- partial "early-footer.html" . -}}
    </div>
    {{- partial "footer.html" . -}}
</body>

</html>
