<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <div class="container">
        <main aria-role="main">
            {{ .Content }}
            <ul class="">
                {{ range .Pages }}
                <li class="">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
                {{ end }}
            </ul>
        </main>
        {{- partial "early-footer.html" . -}}
    </div>
    {{- partial "footer.html" . -}}
</body>

</html>
