<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <div class="container">
        {{- block "main" . }}{{- end }}
        {{- partial "early-footer.html" . -}}
    </div>
    {{- partial "footer.html" . -}}
</body>

</html>
