<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <div class="container">
        <main aria-role="main">
            <header class="homepage-header">
                <h2>List</h2>
            </header>
            <div class="homepage-content">
                {{.Content}}
            </div>
        </main>
        {{- partial "early-footer.html" . -}}
    </div>
    {{- partial "footer.html" . -}}
</body>

</html>