@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.fms-style-alex {
    @include media-breakpoint-up(md) {
        columns: 2;
    }

    div.object-container {
        columns: 2;
        @include media-breakpoint-up(lg) {
            columns: 4;
        }
        padding: 0.25rem 0;
    }

    .object {
        padding-bottom: 0.5rem;
    }

    .status {
        color: #fff;
        margin-right: 10px;
        text-align: center;
        vertical-align: middle;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: gray;
        width: 2rem;
        height: 2rem;
        display: inline-block;

        & > span {
            vertical-align: middle;
        }
    }

    .status--0 {
        background-color: rgb(10, 59, 118);
        color: transparent;
    }
    .status--1 {
        background-color: blue;
        color: transparent;
    }
    .status--2 {
        background-color: forestgreen;
        color: transparent;
    }
    .status--3 {
        background-color: darkorange;
        color: transparent;
    }
    .status--4 {
        background-color: darkorange;
        color: transparent;
    }
    .status--5 {
        background-image: url('../images/blink2-alex.gif');
        background-color: skyblue;
        color: transparent;
    }
    .status--6 {
        background-color: yellow;
        color: transparent;
    }
    .status--7 {
        background-color: darkviolet;
        color: transparent;
    }
    .status--8 {
        background-color: darkviolet;
        color: transparent;
    }
    .status--9 {
        background-color: rgb(89, 9, 115);
        color: transparent;
    }
    .status--10 {
        background-color: rgb(217, 0, 0);
        color: transparent;
    }
    .status--C {
        background-image: url('../images/blink2-alex.gif');
        background-color: orange;
        color: transparent;
    }

    .bma .status--0 {
        background-color: rgb(235, 235, 235);
    }
    .bma .status--1 {
        background-color: rgb(217, 0, 0);
    }
    .bettenbelegung .status {
        background-image: none;
        background-color: rgb(171, 171, 171);
        color: black;
    }
    .bettenbelegung .status.status--0 {
        background-image: none;
        background-color: rgb(217, 0, 0);
    }
}