<hr class="my-2" />
<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link" href="https://discord.gg/ytkdVh6">Discord</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://gitlab.com/emergencyx/emergencyx.gitlab.io/">GitLab</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://stats.uptimerobot.com/JyLrGf1Aq">Status</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/kontakt/">Kontakt</a>
    </li>
</ul>
