<!DOCTYPE html>
<html>

<head>
    {{- partial "head.html" . -}}
    <link rel="stylesheet" href="/css/fms.css" />
</head>

<body>
    {{- partial "header.html" . -}}
    <div id="fms"></div>
    <script src="/js/fms.js"></script>

    <div class="container">
        {{- partial "early-footer.html" . -}}
    </div>
    {{- partial "footer.html" . -}}
</body>

</html>