<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
{{- partial "header.html" . -}}
<div class="container">
    <main aria-role="main">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ ref . "modding" }}">Modding</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dateiformate</li>
            </ol>
        </nav>
        <h2>Dateiformate</h2>
        {{ .Content }}
        <ul class="">
            {{ range .Pages }}
            <li class="">
                <a href="{{ .RelPermalink }}">Dateien im {{ .Title }}-Format</a>
            </li>
            {{ end }}
        </ul>
    </main>
    {{- partial "early-footer.html" . -}}
</div>
{{- partial "footer.html" . -}}
</body>

</html>
