<script>
    import {
        Chart,
        LineController,
        LineElement,
        PointElement,
        LinearScale,
        Title,
        CategoryScale,
        Legend,
    } from "chart.js";
    import { onMount } from "svelte";
    import ServerHistoricActivity from "./server-historic-activity.svelte";
    import ModTrends from "./mod-trends.svelte";

    Chart.register(
        LineController,
        LineElement,
        PointElement,
        CategoryScale,
        LinearScale,
        Title,
        Legend
    );
    export let api = {};
    const years = [
        { label: "2025", from: "2025-01", to: "2025-12" },
        { label: "2024", from: "2024-01", to: "2024-12" },
        { label: "2023", from: "2023-01", to: "2023-12" },
        { label: "2022", from: "2022-01", to: "2022-12" },
        { label: "2021", from: "2021-01", to: "2021-12" },
        { label: "2020", from: "2020-01", to: "2020-12" },
        { label: "2019", from: "2019-01", to: "2019-12" },
        { label: "2018", from: "2018-01", to: "2018-12" },
        { label: "2017", from: "2017-01", to: "2017-12" },
        { label: "2016", from: "2016-06", to: "2016-12" },
    ];
    let selectedYear = years[0];
    const colors = [
        "#fd7f6f",
        "#7eb0d5",
        "#b2e061",
        "#bd7ebe",
        "#ffb55a",
        "#ffee65",
        "#beb9db",
        "#fdcce5",
        "#8bd3c7",
    ];

    const genericOptions = {
        fill: false,
        interaction: {
            intersect: false,
        },
        radius: 0,
        plugins: {
            legend: {
                display: true,
            },
        },
    };
    const config = {
        type: "line",
        data: {},
        options: genericOptions,
    };
    const skipped = (ctx, value) =>
        ctx.p0.skip || ctx.p1.skip ? value : undefined;
    const skipper = {
        borderColor: (ctx) => skipped(ctx, "rgb(0,0,0,0.2)"),
        borderDash: (ctx) => skipped(ctx, [6, 6]),
    };
    let ctx;
    let chartCanvas;
    let chart;

    onMount(() => {
        ctx = chartCanvas.getContext("2d");
        config.data.labels = [];
        config.data.datasets = [];
        chart = new Chart(ctx, config);
    });

    $: update(selectedYear.from, selectedYear.to);

    function update(from, to) {
        const url =
            "https://venus.emergencyx.de/history/v1/sessions/monthly?from=" +
            from +
            "&to=" +
            to;
        fetch(url)
            .then((res) => res.json())
            .then((monthlyStats) => {
                const { labels, datasets } = transform(monthlyStats);
                chart.data.labels = labels;
                chart.data.datasets = datasets;
                chart.update();
            })
            .catch((err) => console.log(err));
    }

    function transform(monthlyStats) {
        let labels = [];
        let series = {};
        let totals = [];
        let k = 0;
        for (const monthly of monthlyStats) {
            let total = 0;
            for (const entry of monthly.statistics) {
                if (!(entry.mod in series)) {
                    let f = [];
                    for (let n = 0; n < monthlyStats.length; n++) {
                        f.push(NaN);
                    }
                    series[entry.mod] = f;
                }
                series[entry.mod][k] = entry.count;
                total += entry.count;
            }
            labels.push(monthly.month);
            totals.push(total);
            k++;
        }

        let datasets = [];
        let i = 0;
        for (const [mod, values] of Object.entries(series)) {
            datasets.push({
                label: mod,
                data: values,
                spanGaps: true,
                segment: skipper,
                borderColor: colors[i % colors.length],
            });
            i++;
        }

        datasets.push({
            label: "Summe",
            data: totals,
            borderWidth: 5,
            borderColor: "#d45c25",
        });

        return { labels, datasets };
    }
</script>

<select bind:value={selectedYear}>
    {#each years as year}
        <option value={year}>{year.label}</option>
    {/each}
</select>

<canvas bind:this={chartCanvas} id="myChart" />
<br/><br/>
<ServerHistoricActivity />
<br/><br/>
<ModTrends />
