<script>
    import {
        Chart,
        LineController,
        LineElement,
        PointElement,
        LinearScale,
        Title,
        CategoryScale,
        Legend,
    } from "chart.js";
    import { onMount } from "svelte";

    Chart.register(
        LineController,
        LineElement,
        PointElement,
        CategoryScale,
        LinearScale,
        Title,
        Legend,
    );
    export let api = {};
    export let mod = {};

    const genericOptions = {
        fill: false,
        interaction: {
            intersect: false,
        },
        radius: 0,
        plugins: {
            legend: {
                display: true,
            },
        },
    };
    const config = {
        type: "line",
        data: {},
        options: genericOptions,
    };
    const skipped = (ctx, value) =>
        ctx.p0.skip || ctx.p1.skip ? value : undefined;
    const skipper = {
        borderColor: (ctx) => skipped(ctx, "rgb(0,0,0,0.2)"),
        borderDash: (ctx) => skipped(ctx, [6, 6]),
    };
    let ctx;
    let chartCanvas;
    let chart;

    onMount(() => {
        ctx = chartCanvas.getContext("2d");
        config.data.labels = [];
        config.data.datasets = [];
        chart = new Chart(ctx, config);
    });

    $: update(mod);

    function update(mapping) {
        if (!("match" in mapping)) {
            return;
        }

        const url =
            "https://venus.emergencyx.de/history/v1/sessions/mod?mod=" +
            mapping.match[0];
        fetch(url)
            .then((res) => res.json())
            .then((modStats) => {
                const { labels, datasets } = transform(mapping, modStats);
                chart.data.labels = labels;
                chart.data.datasets = datasets;
                chart.update();
            })
            .catch((err) => console.log(err));
    }

    function transform(mapping, stats) {
        const labels = [];
        const values = [];

        for (const { date, count } of stats) {
            labels.push(date);
            values.push(count);
        }

        return {
            labels: labels,
            datasets: [
                {
                    label: mapping.title,
                    data: values,
                    spanGaps: true,
                    segment: skipper,
                    borderColor: "#d45c25",
                },
            ],
        };
    }
</script>

<canvas bind:this={chartCanvas} id="mod-history-activity" />
