<script>
    export let api = {};

    const mapping = require("./../mapping.json");
    const extendedMapping = {};
    for (const m of mapping) {
        for (const match of m.match) {
            extendedMapping[match] = m;
        }
    }

    let entries = [];
    let long = false;

    function update(n) {
        const url = 'https://venus.emergencyx.de/history/v1/sessions/top?limit=' + n;
        fetch(url).then(res => res.json()).then(got => {
            entries = got;
        }).catch((err) => console.log(err));
    }

    function toggle() {
        if (long) {
            entries = entries.slice(0, 5);
        } else {
            update(25);
        }
        long = !long;
    }

    update(5);
</script>

<h1>Aktuelle Trends</h1>
<p>
    Zeigt die aktuell am meisten im Multiplayer gespielten Modifikationen über die letzten sieben Tage,
    sowie die Platzierung im gleichen Zeitraum davor.
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Mod</th>
            <th>Davor</th>
            <th>Aktuell</th>
        </tr>
        </thead>
        <tbody>
        {#each entries as entry}
            <tr>
                {#if entry.title in extendedMapping}
                    <td>{extendedMapping[entry.title].title}</td>
                {:else}
                    <td>{entry.title}</td>
                {/if}
                <td>
                    {entry.previous}
                </td>
                <td>
                    {entry.current}
                </td>
            </tr>
        {/each}
        </tbody>
    </table>
</div>

<button on:click={toggle} class="btn btn-primary">
    {#if long} Weniger{:else} Mehr{/if}
</button>
