<script>
    import { onMount } from "svelte";
    import BSN from "bootstrap.native/dist/bootstrap-native-v4";
    import ModHistoryActivity from "./mod-history-activity.svelte";

    const mapping = require("./../mapping.json");
    const extendedMapping = {};
    for (const m of mapping) {
        for (const match of m.match) {
            extendedMapping[match] = m;
        }
    }

    export let sessions = [];
    export let connected = false;
    export let api = {};

    const webSocket = new WebSocket(api.matchmaking);
    webSocket.onopen = () => {
        connected = true;
    };
    webSocket.onmessage = (message) => {
        sessions = JSON.parse(message.data);
    };
    webSocket.onerror = (reason) => {
        connected = false;
        console.log(reason);
    };
    webSocket.onclose = (reason) => {
        connected = false;
        console.log(reason);
    };

    let mappingModal = null;
    let selectedMapping = {};

    function toggleDialog(mod) {
        if (mappingModal == null) {
            return;
        }
        if (mod === false) {
            mappingModal.hide();
            return;
        }
        selectedMapping = mod;
        mappingModal.show();
    }

    onMount(() => {
        mappingModal = new BSN.Modal(document.getElementById("history-modal"));
    });
</script>

{#if connected}
    <p>
        <i class="fas fa-heartbeat" aria-hidden="true"></i> Verbunden - der Browser wird in Echtzeit aktualisiert
    </p>
{/if}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Servername</th>
                <th>Spieler</th>
                <th>Mod</th>
                <th>Land</th>
                <th>Plätze</th>
                <th><i class="fas fa-globe" aria-hidden="true"></i></th>
                <th><i class="fas fa-broadcast-tower" aria-hidden="true"></i></th>
            </tr>
        </thead>
        <tbody>
            {#each sessions as session}
                <tr>
                    <td>
                        {#if session.password}
                            <i class="fas fa-lock" aria-hidden="true"></i>
                        {/if}
                        {#if session.started}
                            <i class="fas fa-play" aria-hidden="true"></i>
                        {/if}
                        {session.name}
                    </td>
                    <td>{session.players.join(", ")}</td>
                    {#if session.mod in extendedMapping}
                        <td>
                            <a
                                href="#{session.mod}"
                                on:click={toggleDialog(
                                    extendedMapping[session.mod],
                                )}>{extendedMapping[session.mod].title}</a
                            >
                        </td>
                    {:else}
                        <td>{session.mod}</td>
                    {/if}
                    <td>{session.nation}</td>
                    <td>{session.numpl} / {session.maxpl}</td>
                    <td>
                        {#if session.connectivity}
                            <i class="fas fa-check" aria-hidden="true"></i>
                        {/if}
                    </td>
                    <td>
                        {#if session.modem}
                            <i class="fas fa-check" aria-hidden="true"></i>
                        {/if}
                    </td>
                </tr>
            {/each}
        </tbody>
    </table>
</div>

<div
    class="modal fade"
    id="history-modal"
    tabindex="-1"
    role="dialog"
>
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {selectedMapping.title}
                </h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                    on:click={toggleDialog(false)}
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ModHistoryActivity {api} mod={selectedMapping}></ModHistoryActivity>
            </div>
            <div class="modal-footer">
                <a href="/multiplayer/history/">Mehr Aktivität</a>
                <a href="{selectedMapping.href}">Download</a>
            </div>
        </div>
    </div>
</div>

<ul class="list-inline">
    <li class="list-inline-item">
        <i class="fas fa-lock fa-fw" aria-hidden="true"></i> Dieses Spiel erfordert ein Passwort
    </li>
    <li class="list-inline-item">
        <i class="fas fa-play fa-fw" aria-hidden="true"></i> Dieses Spiel ist bereits gestartet
    </li>
    <li class="list-inline-item">
        <i class="fas fa-globe fa-fw" aria-hidden="true"></i> Port Forwarding für dieses Spiel ist korrekt konfiguriert
    </li>
    <li class="list-inline-item">
        <i class="fas fa-broadcast-tower fa-fw" aria-hidden="true"></i> Spiel verfügbar über EmergencyX Modem
    </li>
</ul>
