<script>
    import {onMount} from "svelte";
    import {Chart, Tooltip} from 'chart.js'
    import {MatrixController, MatrixElement} from 'chartjs-chart-matrix';
    import * as helpers from "chart.js/helpers";
    import 'chartjs-adapter-date-fns';

    export let api = {};
    Chart.register(Tooltip);
    Chart.register(MatrixController, MatrixElement);


    let ctx;
    let chartCanvas;

    const hours = [
        '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00',
        '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'
    ];
    const slots = ['', '', '', '', '', '', ''];

    const scales = {
        x: {
            type: 'category',
            labels: hours,
            offset: true,
            grid: {
                display: false,
                drawBorder: false,
                tickLength: 0
            }
        },
        y: {
            type: 'category',
            labels: slots,
            offset: true,
            grid: {
                display: false,
                drawBorder: false,
                tickLength: 0
            }
        }
    };

    const data = {
        datasets: [{
            data: [],
            backgroundColor(c) {
                const entry = c.dataset.data[c.dataIndex];
                if (entry === undefined) {
                    return undefined;
                }
                const value = entry.c;
                const alpha = (10 + value) / 60;
                return helpers.color({r: 212, g: 92, b: 37, a: 1}).alpha(alpha).rgbString();
            },
            borderColor(c) {
                const entry = c.dataset.data[c.dataIndex];
                if (entry === undefined) {
                    return undefined;
                }
                const value = entry.c;
                const alpha = (10 + value) / 60;
                return helpers.color({r: 212, g: 92, b: 37, a: 1}).alpha(alpha).darken(0.3).rgbString();
            },
            borderWidth: 1,
            hoverBackgroundColor: '#d45c25',
            hoverBorderColor: '#5a2610',
            width(c) {
                const a = c.chart.chartArea || {};
                return (a.right - a.left) / 24 - 1;
            },
            height(c) {
                const a = c.chart.chartArea || {};
                return (a.bottom - a.top) / 7 - 1;
            }
        }]
    };

    const options = {
        aspectRatio: 5,
        plugins: {
            legend: false,
            tooltip: {
                displayColors: false,
                callbacks: {
                    title() {
                        return "";
                    },
                    label(context) {
                        const formatter = new Intl.DateTimeFormat(undefined, {
                            timeStyle: 'short',
                            dateStyle: 'long',
                        });
                        const entry = context.dataset.data[context.dataIndex];
                        return [formatter.format(entry.date), entry.c + " Session(s)"];
                    }
                }
            },
        },
        scales: scales,
        layout: {
            padding: {
                top: 10
            }
        }
    };


    const config = {
        type: 'matrix',
        data: data,
        options: options
    };
    let chart;

    onMount(() => {
        ctx = chartCanvas.getContext('2d');
        chart = new Chart(ctx, config);
        update();
    });

    function update() {
        const url = 'https://venus.emergencyx.de/history/v1/sessions/heat';
        fetch(url).then(res => res.json()).then(activity => {
            const {labels, datasets} = transform(activity);
            chart.options.scales.y.labels = labels;
            chart.data.datasets[0].data = datasets;
            chart.update();
        }).catch((err) => console.log(err));
    }

    // transform transforms the list of activites into entries ready for chart.js.
    function transform(activities) {
        const datasets = [];
        const labels = [];
        const formatter = new Intl.DateTimeFormat(undefined, {weekday: 'long'});
        for (const activity of activities) {
            const date = new Date(Date.parse(activity.date));
            const y = formatter.format(date);
            labels.push(y);
            for (const h in activity.activity) {
                const count = activity.activity[h];
                if (count === 0) {
                    continue;
                }
                const dateWithHours = new Date(date);
                dateWithHours.setHours(+h);
                datasets.push({x: hours[h], y: y, c: count, date: dateWithHours})
            }
        }
        return {labels, datasets};
    }
</script>

<h1>Aktivität der letzten Tage</h1>
<p>
    Dieses Diagramm zeigt die Anzahl an aktiven Spielen pro Stunde in den letzten Tage.
</p>
<canvas bind:this={chartCanvas} id="activity"></canvas>
